.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock
*.iml
.idea/
.vscode/*
!.vscode/extensions.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
